.CheckOutPage{
    position: relative;
    top: 100px;
    width: 100%;


    margin: 0 auto;


}

.CheckoutProduct{
    position: relative;
    width:200px;
    left:50%;

    transform: translateX(-50%);

    text-align: left;
}

.description{
    margin-left: 10%;
}