.mainArea{
    position: relative;
    top:200px;
    width:100%;
    
  }
  
  .pageNavBar{
    width: 100%;
    position: absolute;
    left:50%;
    transform:translateX(-50%) ;
  }
  
  .productArea{
    position: relative;
    width:100vw;
    min-height: 500px;
    margin-left: 5%;
    margin-right: 5%;
    left:50%;
    transform:translateX(-50%) ;


  }

  @media screen and (max-width: 768px) {
    .productArea {


      margin-left: unset;
      margin-right: unset;

    }
}
  
  .productArea:after{
    content: "";
    clear: both;
    display: block;
  
  }

  .products:after{
    content: "";
      clear: both;
    margin: 0 auto;
    display: block;

    
  }

  .pageNavButton{

    width: 25px;
    height:30px;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 15px;
    background-color: rgb(158, 227, 248);
    border-radius: 2px 2px 2px 2px;
    border: 1px solid grey;
    margin: 0 2px;


  }

  