.carousel{
    position:relative;
    margin:0 auto;
    width: 70vw;
    height:300px;
    padding-top: 100px;
}

.carouselFrame{
    position: relative;
    margin:0 auto;
    width: 60vw;
    height:300px;
    overflow:hidden;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    scroll-behavior: smooth;

}

.carouselList{
    display: flex;
    position: absolute;
    width: 180vw;
    height: 100%;
    transition: transform 0.7s ;
    
    justify-content: center;
    align-self:center;



}

.carouselItem1{
    display: flex;
    flex: 0 0 33.33%;
    height: 100%;
    justify-content: center;
    align-items: center;


    background-color: burlywood;
}

.carouselItem2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 0 0 33.33%;
    background-color: chartreuse;
}

.carouselItem3{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 0 0 33.333%;

    background-color: royalblue;
}

.carouselBtn{
    position: absolute;
    border-color: black;

    border-width: 5px 5px 0 0;
    border-style: solid;
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.carouselBtn.leftCarouselBtn{
    left: 10px;
    top:77%;
    transform: rotate(-135deg);

}
.carouselBtn.rightCarouselBtn{
    right: 10px;
    bottom:10%;
    transform: rotate(45deg);


}

.carouselDot{
    display: inline-block;
    margin: 5px 5px;
    
    width: 10px;
    height:10px;
    border-radius: 5px;
    bottom:0;
    background-color: slategray;
    cursor: pointer;
}

@media screen and (max-width: 700px) {

    .carousel{
        padding-left:10%;
        padding-right:10%;
        width: 100%;
        height:300px;
    }
    
    .carouselFrame{
        width: 100%;
    }
    
    .carouselList{
        width: 300%;
    }
}

@media screen and (max-width: 479px) {

    .carousel{
        height: 200px;
        width: 100%;
    }
    
    .carouselFrame{
        height: 200px;
        width: 100%;
    }
    
    .carouselList{
        width: 300%;
    }
    .carouselBtn.leftCarouselBtn{
        display: none;

    
    }
    .carouselBtn.carouselBtn.rightCarouselBtn{
        display: none;
    
    }
    .carouselDot{
        transform: scale(3);
        margin: 20px 20px
    }
}