.productImg{
  display: block;
margin: 0 auto;
    width: 120px;
    height: auto;
  }

.product{
    position: relative;
    width: 23%;
    /*
    border-radius: 5px ;
    border-color: black;
    border-width: 3px;
    border-style:solid;
    */
    margin:10px auto;
    float: left;
}
.product >div:first-child{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 120px;
}
.btn.btn-success:hover{
  box-shadow: 0 0 2px 2px rgb(167, 163, 163);
}
@media screen and (max-width: 768px) {
  .product {
        width:46%;
    }
}

@media screen and (max-width: 474px) {
  .product {
        width:80%;
        
        float: none;
    }

}