
html,body,#root {
  height: 100%;

  margin: 0;
}
@media screen and (max-width: 200px){
  body{
  position: absolute;
  min-width: 200px;
  }
}

.App {
  min-height: 100%;
  text-align: center;
  margin-bottom: -50px;
  padding-bottom: 130px;

}

ul{
  margin: 0;
  padding: 0;
}

a{
  text-decoration:none;
  color:inherit;
}
a:hover{
  text-decoration:none;
  color:inherit;
}

@media screen and (max-width: 768px) {
  .App {
padding-bottom: 200px;
  }
}

@media screen and (max-width: 190px) {
  .navbar-toggler-icon {
    margin-top:-5px;
width:0.9em;
height:0.9em;
  }
  .navbar-toggler{
    height:1.5em;
  }
  .navbar-brand{
    font-size: 1em;;
  }
}


